* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  height: 100%;
  background-color: #060b19;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  background-color: #060b19;
}

.sidebar {
  width: 100%;
  /* border-radius: 0 5% 5% 0; */
  height: 100%;

  background-color: #131a29;

  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 35px;
  gap: 25px;

  /* overflow-y: auto; Allow vertical scrolling if necessary */
}

.sidebar > .header {
  width: 100%;
  height: 15%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  gap: 5px;
}

.sidebar > .header > .header-img {
  background-image: url("asset/img/sidebar/Header/headerIcon.png"); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the background image */
  border-radius: 50%;

  width: 75px;
  height: 75px;
}

.sidebar > .header > p {
  color: #bbc2cf;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.task-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 5px;
}

hr {
  width: 90%;
  /* background-color: #4e5563; */
  height: 2px;

  border: 1px solid #4e5563;
}

.task-navigation button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bolder;
  background-color: #131a29;
  border-style: none;
  color: #4f5664;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 25%;
  /* gap: 1px; */
}

.today-layout,
.weekly-layout,
.anyday-layout {
  display: flex;
  width: 100%;
}

.today-btn > .btn-img,
.today-btn:hover > .btn-img,
.weekly-btn > .btn-img,
.weekly-btn:hover > .btn-img,
.anyDay-btn > .btn-img,
.anyDay-btn:hover > .btn-img {
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the background image */
  width: 45px;
  height: 45px;
}

.today-btn > .btn-img {
  background-image: url("asset/img/sidebar/TaskNavigation/unclicked/today.png"); /* Path to your background image */
}

.today-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/TaskNavigation/clicked/today.png"); /* Path to your background image */
}

.weekly-btn > .btn-img {
  background-image: url("asset/img/sidebar/TaskNavigation/unclicked/weekly.png"); /* Path to your background image */
}

.weekly-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/TaskNavigation/clicked/weekly.png"); /* Path to your background image */
}

.anyDay-btn > .btn-img {
  background-image: url("asset/img/sidebar/TaskNavigation/unclicked/anyday.png"); /* Path to your background image */
}

.anyDay-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/TaskNavigation/clicked/anyday.png"); /* Path to your background image */
}

.today-btn:hover,
.weekly-btn:hover,
.anyday:hover {
  color: #edcb9d;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 5px;
}

.personal-layout,
.home-layout,
.learning-layout,
.health-layout,
.work-layout,
.event-layout,
.social-layout,
.projectManagement-layout,
.finance-layout,
.shopping-layout,
.travel-layout {
  display: flex;
  width: 100%;
}

.category-container button {
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  align-items: center;
  justify-content: flex-start;
  font-weight: bolder;
  background-color: #131a29;
  border-style: none;
  color: #4f5664;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 25%;
  /* gap: 1px; */
}

.personal-btn > .btn-img,
.personal-btn:hover > .btn-img,
.home-btn > .btn-img,
.home-btn:hover > .btn-img,
.learning-btn > .btn-img,
.learning-btn:hover > .btn-img,
.health-btn > .btn-img,
.health-btn:hover > .btn-img,
.work-btn > .btn-img,
.work-btn:hover > .btn-img,
.event-btn > .btn-img,
.event-btn:hover > .btn-img,
.projectManagement-btn > .btn-img,
.projectManagement-btn:hover > .btn-img,
.shopping-btn > .btn-img,
.shopping-btn:hover > .btn-img,
.social-btn > .btn-img,
.social-btn:hover > .btn-img,
.finance-btn > .btn-img,
.finance-btn:hover > .btn-img,
.travel-btn > .btn-img,
.travel-btn:hover > .btn-img {
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the background image */
  width: 45px;
  height: 45px;
}

.personal-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/personal.png"); /* Path to your background image */
}

.personal-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/personal.png"); /* Path to your background image */
}

.home-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/home.png"); /* Path to your background image */
}

.home-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/home.png"); /* Path to your background image */
}

.learning-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/learning.png"); /* Path to your background image */
}

.learning-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/learning.png"); /* Path to your background image */
}

.health-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/health.png"); /* Path to your background image */
}

.health-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/health.png"); /* Path to your background image */
}

.work-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/work.png"); /* Path to your background image */
}

.work-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/work.png"); /* Path to your background image */
}

.event-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/event.png"); /* Path to your background image */
}

.event-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/event.png"); /* Path to your background image */
}

.projectManagement-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/projectManagement.png"); /* Path to your background image */
}

.projectManagement-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/projectManagement.png"); /* Path to your background image */
}

.projectManagement-btn > p {
  width: 34px;
  padding-left: 2px;
}

.shopping-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/shopping.png"); /* Path to your background image */
}

.shopping-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/shopping.png"); /* Path to your background image */
}
.social-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/social.png"); /* Path to your background image */
}

.social-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/social.png"); /* Path to your background image */
}

.finance-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/finance.png"); /* Path to your background image */
}

.finance-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/finance.png"); /* Path to your background image */
}

.travel-btn > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/unclicked/travel.png"); /* Path to your background image */
}

.travel-btn:hover > .btn-img {
  background-image: url("asset/img/sidebar/CategoryContainer/clicked/travel.png"); /* Path to your background image */
}

.personal-btn:hover,
.home-btn:hover,
.learning-btn:hover,
.health-btn:hover,
.work-btn:hover,
.event-btn:hover,
.projectManagement-btn:hover,
.shopping-btn:hover,
.social-btn:hover,
.finance-btn:hover,
.travel-btn:hover {
  color: #edcb9d;
}

.main-section {
  width: 100%;
  height: 100%;
  background-color: #000714;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.todayContainer,
.weeklyContainer,
.anyDayContainer,
.personalContainer,
.homeContainer,
.learningContainer,
.healthContainer,
.workContainer,
.eventContainer,
.projectManagementContainer,
.shoppingContainer,
.financeContainer,
.socialContainer,
.travelContainer {
  width: 95%;
  height: 95%;
}

.controlPanel-Layout {
  padding-top: 3%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* height: 5%; */
}

.controlPanel-Layout > button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  background-color: #171e2c;
  color: #7d8491;
}

.controlPanel-Layout > button:hover {
  background-color: #e0c196;
  color: #181d21;
}

.searchbar {
  background-color: #171e2c;
  border: none;
  width: 30%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #7d8491;
  outline: none; /* Removes default focus outline */
}

.searchbar::placeholder {
  color: #7d8491;
}

.searchbar:focus {
  box-shadow: 0 0 5px rgb(224, 193, 150, 0.95); /* Optional: Add a shadow for effect */
}

dialog {
  margin: 10% auto;
  width: 80%;
  height: 58%;
  max-width: 1200px;
  max-height: 350px;
  padding: 34px;
  border: 0;
  border-radius: 5px;
  background-color: #030813;
  border: 1px solid #131a29;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.modal-container {
  display: flex;
  height: 25vh;
}

.modal-container > .layout-1,
.modal-container > .layout-2,
.modal-container > .layout-3 {
  width: 33%;
  height: 100%;
}

.modal > h2 {
  color: #ced5e2;
  padding-bottom: 15px;
}

.title,
.description,
.dueDate,
.priority,
.note {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
}

#title,
#description,
#dueDate,
#priority,
#note {
  width: 100%;
  height: 35px;
}

#note {
  height: 100%;
}

.title > label,
.description > label,
.dueDate > label,
.note > label,
.priority > label {
  color: #747b88;
}

.note {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.note > textarea,
.description > textarea {
  background-color: #171e2c;
  color: #acacac;
  resize: none;
}

.note > textarea:focus,
.description > textarea:focus {
  border: none;
  outline: 1px solid #edcb9d;
}

.priority > section {
  background-color: #171e2c;
  color: #747b88;
}

input {
  background-color: #171e2c;
  border: none;
  color: #acacac;
}

input:focus {
  outline: 1px solid #edcb9d;
}

.buttons-form {
  text-align: center;
}

.buttons-form > .submit-button {
  background-color: #fec853;
  border: none;
  color: #f7f7f7;
  font-weight: bolder;
  width: 75px;
  height: 25px;
  cursor: pointer;
}

.buttons-form > .cancel-button {
  color: #dcdcdc;
  font-weight: bolder;
  width: 75px;
  height: 25px;
  background-color: #191919;
  border: none;
  border-color: #fec853;
  cursor: pointer;
}

#priority {
  background-color: #171e2c;
  color: #acacac;
}

/* Style for the <option> elements */
#priority option {
  background-color: #ffffff; /* Background for each option */
  color: #acacac;
}

.error {
  font-size: 0.75rem;
  font-weight: lighter;
}

* .main-section > div:nth-child(2) {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 900px;
  overflow: auto;
  scrollbar-color: #4e5563 #4e5563;
  width: 95%;

  padding-bottom: 50px;
}

.main-section > div:nth-child(2) > div:nth-child(1) {
  text-align: center;
  color: #bec5d2;
  font-size: 1.5rem;
  font-weight: bolder;
}

.main-section > div:nth-child(2) > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 65px;
  row-gap: 10px;
  height: 100%;
  width: 85%;
}

.main-section > div:nth-child(2) > div:nth-child(2) > .grid {
  background-color: #0f1623;
  width: auto;
  height: 100%;
}

.main-section > div:nth-child(2) > div:nth-child(2) > .grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section > div:nth-child(2) > div:nth-child(2) > .grid > .gridLayout {
  width: 100%;
  height: 100%;

  display: flex;

  gap: 10px;
}

.main-section
  > div:nth-child(2)
  > div:nth-child(2)
  > .grid
  > .gridLayout
  > .checkBoxLayout {
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: goldenrod; */
}

.main-section
  > div:nth-child(2)
  > div:nth-child(2)
  > .grid
  > .gridLayout
  > .taskInfoLayout {
  /* background-color: violet; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid > .gridLayout > .taskInfoLayout > .taskTitle {
  color: #c7cedb;
  font-size: 1.25rem;
  font-weight: bold;
  height: 100%;
  width: 25%;
}

.grid > .gridLayout > .taskInfoLayout > .taskPriority {
  width: 13%;
  height: 55%;
}

.grid > .gridLayout > .taskInfoLayout > .taskTitle,
.grid > .gridLayout > .taskInfoLayout > .taskPriority {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid > .gridLayout > .taskInfoLayout > .taskdueDate {
  color: #b6bdca;
}

.highPrioirity {
  color: #d74653;
  background-color: #251b29;
}

.mediumPrioirity {
  color: #d7b546;
  background-color: #29231b;
}

.lowPrioirity {
  background-color: #1a2940;
  color: #4a7ddb;
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout {
  width: 30%;
  height: 100%;
  gap: 15px;
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout > button {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #202735;
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout,
.grid > .gridLayout > .taskInfoLayout > .buttonLayout > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout > button > .btn-img,
.grid
  > .gridLayout
  > .taskInfoLayout
  > .buttonLayout
  > button:hover
  > .btn-img {
  background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the background image */
  width: 70%;
  height: 70%;
  border-radius: 50%;
  cursor: pointer;
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout > .delete-btn > .btn-img {
  background-image: url("asset/img/grid/unclicked/deleteBtn.png");
}

.grid
  > .gridLayout
  > .taskInfoLayout
  > .buttonLayout
  > .delete-btn:hover
  > .btn-img {
  background-image: url("asset/img/grid/clicked/deleteBtn.png");
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout > .edit-btn > .btn-img {
  background-image: url("asset/img/grid/unclicked/editBtn.png");
}

.grid
  > .gridLayout
  > .taskInfoLayout
  > .buttonLayout
  > .edit-btn:hover
  > .btn-img {
  background-image: url("asset/img/grid/clicked/editBtn.png");
}

.grid > .gridLayout > .taskInfoLayout > .buttonLayout > .detail-btn > .btn-img {
  background-image: url("asset/img/grid/unclicked/detailBtn.png");
}

.grid
  > .gridLayout
  > .taskInfoLayout
  > .buttonLayout
  > .detail-btn:hover
  > .btn-img {
  background-image: url("asset/img/grid/clicked/detailBtn.png");
}

input[type="checkbox"] {
  accent-color: green;
}

dialog[class~="detailModal"] {
  margin: 10% auto;
  width: 80%;
  height: 68%;
  max-width: 500px;
  max-height: 850px;
  padding: 34px;
  border: 0;
  border-radius: 5px;
  background-color: #161d2b;
  border: 1px solid #131a29;
}

dialog[class~="detailModal"]::backdrop {
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

dialog[class~="detailModal"] > .detailContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detailContainer > .taskProjectName {
  text-align: center;
  color: #c8cfdc;
}

.detailContainer > .taskTitleContainer {
  font-size: 1.25rem;
  color: #9299a7;
  display: flex;
  gap: 5px;
}

.detailContainer > .taskDescriptionContainer {
  font-size: 1.25rem;
  color: #9299a7;
  display: flex;
  gap: 5px;
}

.detailContainer > .taskDescriptionContainer > textarea {
  height: 75px;
  color: #9299a7;
  width: 325px;
  resize: none;
  background-color: #161d2b;
}

.detailContainer > .taskDescriptionContainer > textarea:focus {
  outline: none;
}

.detailContainer > .taskPriorityContainer {
  font-size: 1.25rem;
  color: #9299a7;
  display: flex;
  gap: 5px;
}

.detailContainer > .taskPriorityContainer > div:nth-child(2) {
  width: 100px;
  text-align: center;
}

.detailContainer > .taskDueDateContainer {
  font-size: 1.25rem;
  color: #9299a7;
  display: flex;
  gap: 5px;
}

.detailContainer > .taskNoteContainer {
  font-size: 1.25rem;
  color: #9299a7;
  display: flex;
  gap: 5px;
}

.detailContainer > .taskNoteContainer > textarea {
  height: 75px;
  color: #9299a7;
  width: 325px;
  resize: none;
  background-color: #161d2b;
}

.detailContainer > .taskNoteContainer > textarea:focus {
  outline: none;
}

.detailContainer > .taskStatusContainer {
  display: flex;
  font-size: 1.25rem;
  color: #9299a7;
  gap: 5px;
}

.detailContainer > .taskStatusContainer > .taskStatus,
.detailContainer > .taskDueDateContainer > .taskDueDate,
.detailContainer > .taskPriorityContainer > .taskPriority,
.detailContainer > .taskTitleContainer > .taskTitle {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
